*{margin: 0;padding: 0;}
ul,ol{list-style:none;}
img{display: block;}
a{text-decoration: none;color:#646464;}
h1,h2,h3{font-size: 16px;}
body{font-family: Arial;}

.l{float: left;}
.r{float: right;}
.clear:after{content: "";display: block;clear: both;}

.container{width: 1080px;margin: 0 auto;position: relative;}
.container-fluid{width: 100%;}

body{background-color: bisque;}
#head{height: 81px;}
#head .head_logo{width: 12px;height: 12px;margin-top: 15px;}
#head .logo{font-size: 40px;margin-top: 30px;margin-left: 90px;font-weight: bold;width: 200px;height: 15px;font-family: "楷体";}
#head .head_menu{font-size: 14px;line-height: 81px;}
#head .head_menu li{float: left; margin-left: 58px;}
